﻿table.categories {
    width: 100%;
    background-color: #f0f8ff;
    border-collapse: collapse;
}

table.mainnav {
    width: 100%;
    height:50px;
    background-color: #f0f8ff;
    border-collapse: collapse;
    position:fixed;
}


th.mainlable {
    background-color: #add8e6;
    width:350px;
}

th.categ:hover, th.tosubcat:hover, th.navlinks:hover {
    background-color: #add8e6;
}

th.categ th.subcateg:hover {
    background-color: #f0f8ff;
}

th.categ {
    width: 200px;
}

th.navlinks {
    width: 150px;
}

a.links {
    text-decoration: none;
   color:#6c1785;
}

body.backgr {
    background-image: url("../Images/main.jpeg");
    width: 100%;
}

.bookview:hover {
    border-bottom: 5px solid #add8e6;
    border-top: 1px solid #add8e6;
    border-right: 1px solid #add8e6;
    border-left: 1px solid #add8e6;
}
