﻿@model Ellibrary.App.Data.Book

@Html.ActionLink("Back", "Index", "Home")<br>

<div>Name: @Model.Name</div>



<div> 
    <table style="display:inline">
        <tr>Authors: </tr>
        @{
            foreach(var item in Model.Author)
            {
                <tr>
                    <td> @item.FIO </td>                    
                </tr>
            }
        }        
    </table>        
</div>

<div>Yaer of publishing: @Model.YearOfPublishing</div>

<div>Language: @Model.Lang</div>

<div>Publishing: @Model.Publishing.Name</div>

<div>Link: @Model.Link</div>
