﻿@model Ellibrary.App.Web.Models.CommercialModel
@using Ellibrary.App.Web.Helpers

<br>
<table>
    <tr>
@foreach (var item in Model.Commercials)
{
    <td>
        @Html.RenderImage(item.Image.Data, item.Image.Extension, null, new { width = 400, height = 300 })
    </td>
}
   </tr>
</table>