﻿@model Ellibrary.App.Web.Models.CommercialModel
@using Ellibrary.App.Web.Helpers

<br>
<table>    
        @foreach (var item in Model.Commercials)
        {
            <tr>
                <td>
                    @Html.RenderImage(item.Image.Data, item.Image.Extension, null, new { width =220, height = 150 })
                </td>
            </tr>
        }           
</table>
