﻿<!DOCTYPE HTML>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ellibrary</title>
    <link rel="stylesheet" type="text/css" href="/Content/css/MainStyle.css">
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

</head>
<body class="backgr">
    <div>
        @{ Html.RenderAction("MainNav", "Navigation"); }
    </div>
    <div style="background-color:white; width:95%; margin:50px 5px 30px 30px; padding:5px 5px 0px 0px;" align="center">
        <div >
            @RenderBody()
        </div>
        <div>
            @{ Html.RenderAction("GetCommercial", "Commercial"); }
        </div>
    </div>
</body>
</html>
