﻿<table class="mainnav" style="width:99%;">
    <tr>
        <th class="mainlable">
            @Html.ActionLink("ELLIBRARY", "Index", "Home", null, new { style = "font-size:30px;text-decoration: none;" })
        </th>
        <th class="navlinks">
            @Html.ActionLink("Books", "Main", "Book",null, htmlAttributes: new { @class = "links" })
        </th>
        <th class="navlinks">
            @Html.ActionLink("About", "About", "Home",null, htmlAttributes: new { @class = "links" })
        </th>        
        <th></th>
    </tr>
</table><br>
