﻿@model Ellibrary.App.Web.Models.NavigationModel

<table class="categories" style="width:auto;">
    <tr valign="top">
        <td>
            <table>
                @foreach (var item in Model.Categories)
                {
                    <tr valign="top">
                        <th class="categ">
                           @Html.ActionLink(item.Name, "GetBooksByCategory", "Book", routeValues: new { categoryID = item.CategoryID }, htmlAttributes: new { @class = "links" })
                            <table id="subcategories-container-@item.CategoryID" style="font-size:14px; width:100%;" align="center"></table>
                        </th>
                        <th class="tosubcat">
                            @Ajax.ActionLink(">", "Getsubcategories", "Navigation",
                           routeValues: new { categoryID = item.CategoryID },
                           ajaxOptions: new AjaxOptions { UpdateTargetId = "subcategories-container-"+item.CategoryID.ToString() },
                           htmlAttributes: new { @class = "links"})
                        </th>
                    </tr>
                }
            </table>
        </td>
    </tr>
</table><br>