﻿@model Ellibrary.App.Web.Models.NavigationModel

@{
    if (Model.Categories != null)
    {
        foreach (var item in Model.Categories)
        {
            <tr valign="top">
                <th class="subcateg">
                  @Html.ActionLink(item.Name, "GetBooksByCategory", "Book", routeValues: new { categoryID = item.CategoryID }, htmlAttributes: new { @class = "links" })                  
                </th>
            </tr>
        }
    }
}                