﻿@model ICollection<Ellibrary.App.Data.Image>
@using Ellibrary.App.Web.Helpers

<table>
    
        @foreach (var item in Model)
        { 
           <tr>
                <td>
                    @Html.RenderImage(item.Data, item.Extension, null, new { width = 300, height = 200,style="float:left; display:inline;" })
                </td>
            </tr>
      }       
</table>

