﻿@model Ellibrary.App.Data.Book
@{ Layout = null;}


<table cellpadding="0" align="center" cellspacing="10">
    <tr valign="top">
        <td>
            @{Html.RenderPartial("BookImagesPartial", model: Model.Image); }
        </td>

        <td>
            <table cellpadding="0">
                    <tr><td>Name: @Model.Name</td></tr>

                        <tr>
                            <td>
                                <table style="display:inline" cellpadding="0">
                                    <tr>
                                        <td>
                                            Categories:
                                            @{
                                                List<string> categories = new List<string>();
                                                foreach (var item in Model.Category)
                                                {
                                                    categories.Add(item.Name);
                                                    categories.Add(",   ");
                                                }
                                                categories.RemoveAt(categories.Count - 1);
                                            }
                                            @foreach (var item in categories)
                                            {
                                                @item
                                            }
                                        </td>
                                    </tr>
                                </table>
                            </td>
                    </tr>

                    <tr> 
                        <td>
                            <table style="display:inline" cellpadding="0">
                                <tr>
                                    <td>
                                        Authors:
                                        @{
                                            List<string> authors = new List<string>();
                                            foreach (var item in Model.Author)
                                            {
                                                authors.Add(item.FIO);
                                                authors.Add(",   ");
                                            }
                                            authors.RemoveAt(authors.Count - 1);
                                        }
                                        @foreach (var item in authors)
                                {
                                            @item
                                        }
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr><td>Yaer of publishing: @Model.YearOfPublishing</td></tr>

                    <tr><td>Language: @Model.Lang</td></tr>

                    <tr><td>Publishing: @Model.Publishing.Name</td></tr>

                    <tr><td>Link: @Html.ActionLink(Model.Link, null)</td></tr>
                </table>
           </td>
    </tr>
</table>
