﻿@model Ellibrary.App.Web.Models.BookModel
@using Ellibrary.App.Web.Helpers

@{Layout = "~/Views/Shared/BookPageLayout.cshtml"; }

<table style="width:auto;padding:0px 20px 20px 20px; display:inline-block; margin-right:200px;">
    <tr valign="top" >
        <td width="400px;">
            @{ Html.RenderAction("Nav", "Navigation"); }
            @{Html.RenderAction("GetCommercialVertical","Commercial");}

        </td>
        <td>
            <table>
                @foreach (var item in Model.Books)
                {
                    <tr valign="top" >
                        <td class="bookview">
                            <p>
                                @Html.RenderImage(item.Image.Select(x=>x.Data).First(), item.Image.Select(x => x.Extension).First(), null, new { width = 250, height = 150, style = "float:left; display:inline;" })
                                @Ajax.ActionLink(item.Name, "GetBookByID", "Book",
                               routeValues: new { bookID=item.BookID }, ajaxOptions: new AjaxOptions { UpdateTargetId = "details-container" },
                               htmlAttributes: new { @class = "links" })
                            </p>
                        </td>
                    </tr>
                }
            </table>
        </td>  
        
    </tr>
</table>
<table id="details-container" style="position:fixed; display:inline-block;" ></table>